/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Universal Styles */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: #cfcece;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}

h1 {
    font-size: 30px;
    font-weight: 700;
    color: blue;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

a {
    color: #034944;
}

a:hover,
a:focus {
    text-decoration: none;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

a:visited {
    color: #05676e;
}

a:active {
    color: #889c48;
}

.button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
    max-width: 300px;
}

button {
    border: none;
    font-family: inherit;
    background-color: #357b70;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 40px;
}

button:hover {
    text-decoration: none;
    border: 2px solid white;
}

button:focus {
    text-decoration: none;
    border: 2px solid white;
}

button:visited {
    color: #05676e;
}

button:active {
    color: #889c48;
    background-color: whitesmoke;
}

.button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
}

.navigation_item {
    font-family: 'Magra', sans-serif;
    padding: 8px;
}

.navigation-list__item--active {
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 40px;
    padding: 8px 12px; /* Adjust padding here */
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 73, 144, 0.5) 5px 10px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 73, 144, 0.5) 5px 10px 15px;
}

div {
    padding: 5px;
    margin: 5px;
}

.profile,
.table {
    max-width: 1000px;
}

/* Add borders to table cells */
.table td {
    border: 1px solid #000; /* Border color from variable */
    padding: 8px; /* Add padding to make the content within cells spaced */
}
.table th {
    border: 1px solid #000; /* Border color from variable */
    padding: 8px; /* Add padding to make the content within cells spaced */
}

.profile__portrait {
    float: left;
    width: 180px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-main {
    margin-top: 30px; /* Adjust as needed */
    margin-bottom: 40px; /* Adjust as needed */
}

.page-footer,
.table {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 360px;
    max-width: 1500px;
    padding: 5px;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    text-align: center;
}

/* Grid Layout */
.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr); /* Ensures three equal-width columns */
    grid-gap: 20px;
    -webkit-animation: slideIn 0.5s ease forwards;
            animation: slideIn 0.5s ease forwards;
}

.grid__item {
    background: #f0f3f8;
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid #fff; /* Border color from variable */
    -webkit-box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
            box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* Stack contents vertically */
    height: 100%; /* Ensure all grid items are the same height */
}

.project-image {
    max-width: 100%; /* Ensures the image does not exceed the width of the container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Ensures the image is displayed as a block element */
    margin: 0 auto; /* Centers the image horizontally */
    border-radius: 4px; /* Optional: rounded corners for the image */
    -ms-flex-negative: 0;
        flex-shrink: 0; /* Prevent the image from shrinking */
}

.grid__item:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}

.grid__item:hover .grid__text {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.grid__text {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    -o-transition: opacity 0.4s ease, transform 0.4s ease;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px); /* Hide the text initially */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Background color for text */
    color: #fff;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1; /* Ensure it overlays the image */
    height: auto; /* Let the text take up only as much height as needed */
}

.grid__item a {
    position: relative;
    display: block;
    z-index: 2; /* Keep the link above the text overlay */
    text-align: right; /* Align the link to the right */
    text-decoration: underline; /* Ensure the link is visibly clickable */
    color: #fff; /* Make sure the link stands out */
    margin-top: auto; /* Push the link to the bottom */
}

.grid__item a:hover {
    color: white; /* Slightly lighter color on hover for the link */
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 501px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 751px) {
    .grid {
        grid-gap: 10px;
    }

    h1 {
        font-size: 22px;
    }
}

@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    -webkit-animation: 10s color-change infinite alternate linear;
            animation: 10s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 23s cloud-move infinite alternate linear;
            animation: 23s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 45s cloud-move-reverse infinite alternate linear;
            animation: 45s cloud-move-reverse infinite alternate linear;
}

.contact-form {
    margin: 5px auto;
    padding: 25px 35px;
    background: #f0f3f8;
    border-radius: 40px;
    border: 5px solid #fff; /* Border color from variable */
    -webkit-box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
            box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    -webkit-animation: slideIn 0.5s ease forwards;
            animation: slideIn 0.5s ease forwards;
}

.contact {
    margin: 5px auto;
    padding: 25px 35px;
    background: #f0f3f8;
    border-radius: 40px;
    border: 5px solid #fff; /* Border color from variable */
    -webkit-box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
            box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    -webkit-animation: slideIn 0.5s ease forwards;
            animation: slideIn 0.5s ease forwards;
}

.table {
    margin: 5px auto;
    padding: 25px 35px;
    background: #f0f3f8;
    border-radius: 40px;
    border: 5px solid #fff; /* Border color from variable */
    -webkit-box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
            box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    -webkit-animation: slideIn 0.5s ease forwards;
            animation: slideIn 0.5s ease forwards;
}

.profile {
    margin: 5px auto;
    padding: 25px 35px;
    background: #f0f3f8;
    border-radius: 40px;
    border: 5px solid #fff; /* Border color from variable */
    -webkit-box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
            box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    -webkit-animation: slideIn 0.5s ease forwards;
            animation: slideIn 0.5s ease forwards;
}

.contact-form,
.contact {
    max-width: 600px;
}

@-webkit-keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-animation: fadeIn 0.5s ease forwards;
            animation: fadeIn 0.5s ease forwards;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-animation: fadeIn 0.5s ease forwards;
            animation: fadeIn 0.5s ease forwards;
}

input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-animation: fadeIn 0.5s ease forwards;
            animation: fadeIn 0.5s ease forwards;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-animation: fadeIn 0.5s ease forwards;
            animation: fadeIn 0.5s ease forwards;
}

textarea {
    height: 100px;
}

.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}

.Btn {
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 10px;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0c1d41; /* Background color from variable */
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.BG1 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0c1d41; /* Background color from variable */
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.BG2 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0c1d41; /* Background color from variable */
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.BG1 {
    background: #4f9d92; /* Secondary color from variable */
}

.BG2 {
    background: #034944; /* Link color from variable */
}

.Btn:hover .BG,
.Btn:hover .BG1,
.Btn:hover .BG2 {
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
}

.Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
}

.glory-button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0c1d41;
    -webkit-box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
            box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    background: #f0f3f8;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    border-radius: 10px;
}

.main-section--projects {
    background-color: #f0f3f8;
    padding: 40px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
            box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-animation: fadeIn 0.5s ease forwards;
            animation: fadeIn 0.5s ease forwards;
    position: relative;
}

.forward-link {
    position: fixed;
    right: 0;
    padding: 20px;
    font-weight: 700;
    text-decoration: none;
}

.backward-link {
    position: fixed;
    left: 0;
    padding: 20px;
    font-weight: 700;
    text-decoration: none;
}

.back-and-forward__button {
    font-size: 24px;
    width: 40px; /* Width and height to make it a circle */
    height: 40px;
    background-color: #034944; /* Background color for the circle */
    color: #cfcece; /* Arrow color */
    border-radius: 50%; /* Makes the button circular */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.project-section {
    padding: 20px;
    background-color: #0c1d41;
    color: #fff;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

.header-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.header-image {
    max-width: 100%;
    border-radius: 40px;
    -webkit-box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
            box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    cursor: pointer;
}

.header-image:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.highlight {
    background-color: #f0f3f8;
    padding: 20px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.highlight h2 {
    color: #4f9d92;
    font-size: 24px;
    margin-bottom: 15px;
}

.highlight p {
    color: #000;
    font-size: 16px;
}

.highlight ul {
    color: #000;
    font-size: 16px;
}

.highlight ul li {
    margin-bottom: 10px;
}

.highlight:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
}

.project-links {
    color: #034944;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.project-links:hover {
    color: white;
}

.zoom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.zoom-modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    border-radius: 40px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    cursor: pointer;
}

.close-modal:hover {
    color: white;
}

.close-modal:focus {
    color: white;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}