:root {
    --primary-color: #112055;
    --primary-lighter-color: #f0f3f8;
    --primary-darker-color: #0c1d41;
    --secondary-color: #4f9d92;
    --font-color-primary: #fff;
    --font-color-secondary: #000;
    --link-color: #034944;
    --visited-link-color: #05676e;
    --active-link-color: #889c48;
    --button-background-color: #357b70;
    --button-hover-border-color: white;
    --button-active-background-color: whitesmoke;
    --button__secondary-background-color: #e0b354;
    --button__secondary-color: #2b2b2b;
    --background-color: #cfcece;
    --h1-color: blue;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-size-body: 16px;
    --line-height-body: 1.6;
    --padding-body: 5px;
    --border-radius: 40px;
    --padding-button: 10px;
    --border-width-button: 2px;
    --border-width-grid-item: 5px;
    --padding-grid-item: 25px 35px;
    --border-width-contact-form: 5px;
    --border-radius-contact-form: 40px;
    --padding-contact-form: 25px 35px;
    --box-shadow-contact-form: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    --font-size-heading1: 30px;
    --font-size-heading2: 24px;
    --padding-input: 10px;
    --hover-timing: 0.3s;
}

/* Universal Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    background-color: var(--background-color);
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}

h1 {
    font-size: var(--font-size-heading1);
    font-weight: var(--font-weight-bold);
    color: var(--h1-color);
}

h2 {
    font-size: var(--font-size-heading2);
    font-weight: var(--font-weight-bold);
}

a {
    color: var(--link-color);
}

a:hover,
a:focus {
    text-decoration: none;
    transform: scale(1.2);
}

a:visited {
    color: var(--visited-link-color);
}

a:active {
    color: var(--active-link-color);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    max-width: 300px;
}

button {
    border: none;
    font-family: inherit;
    background-color: var(--button-background-color);
    color: var(--font-color-primary);
    align-items: center;
    text-decoration: none;
    padding: var(--padding-button);
    border-radius: var(--border-radius);
    border-bottom: var(--border-width-button) solid rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 40px;
}

button:hover,
button:focus {
    text-decoration: none;
    border: var(--border-width-button) solid var(--button-hover-border-color);
}

button:visited {
    color: var(--visited-link-color);
}

button:active {
    color: var(--active-link-color);
    background-color: var(--button-active-background-color);
}

.button__secondary {
    background-color: var(--button__secondary-background-color);
    color: var(--button__secondary-color);
}

.navigation_item {
    font-family: 'Magra', sans-serif;
    padding: 8px;
}

.navigation-list__item--active {
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: var(--border-radius);
    padding: 8px 12px; /* Adjust padding here */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 73, 144, 0.5) 5px 10px 15px;
}

div {
    padding: var(--padding-body);
    margin: var(--padding-body);
}

.profile,
.table {
    max-width: 1000px;
}

/* Add borders to table cells */
.table td,
.table th {
    border: 1px solid var(--font-color-secondary); /* Border color from variable */
    padding: 8px; /* Add padding to make the content within cells spaced */
}

.profile__portrait {
    float: left;
    width: 180px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-main {
    margin-top: 30px; /* Adjust as needed */
    margin-bottom: 40px; /* Adjust as needed */
}

.page-footer,
.table {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.page-header {
    display: flex;
    min-width: 360px;
    max-width: 1500px;
    padding: var(--padding-body);
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    text-align: center;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensures three equal-width columns */
    grid-gap: 20px;
    animation: slideIn 0.5s ease forwards;
}

.grid__item {
    background: var(--primary-lighter-color);
    border-radius: var(--border-radius);
    padding: var(--padding-grid-item);
    border: var(--border-width-grid-item) solid var(--font-color-primary); /* Border color from variable */
    box-shadow: var(--box-shadow-contact-form);
    overflow: hidden;
    transition: transform var(--hover-timing) ease;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Stack contents vertically */
    height: 100%; /* Ensure all grid items are the same height */
}

.project-image {
    max-width: 100%; /* Ensures the image does not exceed the width of the container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Ensures the image is displayed as a block element */
    margin: 0 auto; /* Centers the image horizontally */
    border-radius: 4px; /* Optional: rounded corners for the image */
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.grid__item:hover {
    transform: scale(1.02);
}

.grid__item:hover .grid__text {
    opacity: 1;
    transform: translateY(0);
}

.grid__text {
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transform: translateY(20px); /* Hide the text initially */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Background color for text */
    color: var(--font-color-primary);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1; /* Ensure it overlays the image */
    height: auto; /* Let the text take up only as much height as needed */
}

.grid__item a {
    position: relative;
    display: block;
    z-index: 2; /* Keep the link above the text overlay */
    text-align: right; /* Align the link to the right */
    text-decoration: underline; /* Ensure the link is visibly clickable */
    color: var(--font-color-primary); /* Make sure the link stands out */
    margin-top: auto; /* Push the link to the bottom */
}

.grid__item a:hover {
    color: var(--button-hover-border-color); /* Slightly lighter color on hover for the link */
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
    h1 {
        font-size: 22px;
    }
}

@media all and (min-width: 501px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 751px) {
    .grid {
        grid-gap: 10px;
    }

    h1 {
        font-size: 22px;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 10s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 23s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 45s cloud-move-reverse infinite alternate linear;
}

.contact-form,
.contact,
.table,
.profile {
    margin: var(--padding-body) auto;
    padding: var(--padding-contact-form);
    background: var(--primary-lighter-color);
    border-radius: var(--border-radius-contact-form);
    border: var(--border-width-contact-form) solid var(--font-color-primary); /* Border color from variable */
    box-shadow: var(--box-shadow-contact-form);
    animation: slideIn 0.5s ease forwards;
}

.contact-form,
.contact {
    max-width: 600px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: var(--padding-body);
}

label {
    display: block;
    margin-bottom: var(--padding-body);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: var(--padding-input);
    border: 1px solid #ccc;
    border-radius: 5px;
    animation: fadeIn 0.5s ease forwards;
}

textarea {
    height: 100px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
    margin: 10px;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG,
.BG1,
.BG2 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary-darker-color); /* Background color from variable */
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
}

.BG1 {
    background: var(--secondary-color); /* Secondary color from variable */
}

.BG2 {
    background: var(--link-color); /* Link color from variable */
}

.Btn:hover .BG,
.Btn:hover .BG1,
.Btn:hover .BG2 {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
}

.glory-button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary-darker-color);
    box-shadow: var(--box-shadow-contact-form);
    background: var(--primary-lighter-color);
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    border-radius: 10px;
}

.main-section--projects {
    background-color: var(--primary-lighter-color);
    padding: 40px;
    border-radius: var(--border-radius-contact-form);
    box-shadow: var(--box-shadow-contact-form);
    max-width: 1200px;
    margin: 0 auto;
    animation: fadeIn 0.5s ease forwards;
    position: relative;
}

.forward-link {
    position: fixed;
    right: 0;
    padding: 20px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}

.backward-link {
    position: fixed;
    left: 0;
    padding: 20px;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}

.back-and-forward__button {
    font-size: 24px;
    width: 40px; /* Width and height to make it a circle */
    height: 40px;
    background-color: var(--link-color); /* Background color for the circle */
    color: var(--background-color); /* Arrow color */
    border-radius: 50%; /* Makes the button circular */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-section {
    padding: 20px;
    background-color: var(--primary-darker-color);
    color: var(--font-color-primary);
    border-radius: var(--border-radius-contact-form);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

.header-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.header-image {
    max-width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-contact-form);
    transition: transform var(--hover-timing);
    cursor: pointer;
}

.header-image:hover {
    transform: scale(1.05);
}

.highlight {
    background-color: var(--primary-lighter-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
    transition: transform var(--hover-timing);
}

.highlight h2 {
    color: var(--secondary-color);
    font-size: var(--font-size-heading2);
    margin-bottom: 15px;
}

.highlight p,
.highlight ul {
    color: var(--font-color-secondary);
    font-size: var(--font-size-body);
}

.highlight ul li {
    margin-bottom: 10px;
}

.highlight:hover {
    transform: scale(1.03);
}

.project-links {
    color: var(--link-color);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    transition: color 0.3s;
}

.project-links:hover {
    color: var(--button-hover-border-color);
}

.zoom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.zoom-modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    border-radius: var(--border-radius);
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: var(--font-color-primary);
    font-size: 40px;
    font-weight: var(--font-weight-bold);
    transition: color 0.3s;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    color: var(--button-hover-border-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
